<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!-- Chrome Frame -->
    <title>{{ page.title }} - Gervasio</title>
    <meta name="application-name" content="">
    <meta name="description" content="">
    <meta name="author" content="Ignacio Lopez Juani">
    <link rel="shortcut icon" href="media/images/favicon.ico">
    <link rel="stylesheet" href="media/css/application.css" />
    <link href="media/css/lightbox.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="{{ page.body_class }}">
    <header class="main-header">
        <h1 class="main-heading"><a href="#">Gervasio</a></h1>
        <nav class="main-nav">
          <h1 class="hidden">Navigation bar</h1>
          <ul>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <aside>
            <ul class="languages">
                <li><a href="#">Espa&#241;ol</a></li>
                <li><a href="#">English</a></li>
            </ul>
            <nav class="secondary-nav">
                <h1 class="hidden">Secondary Navigation</h1>
                <ul>
                    <li><a href="#">Ilustraci&oacute;n</a></li>
                    <li><a href="#">Dise&#241;o Gr&#225;fico</a></li>
                    <li><a href="#">Creatividad</a></li>
                </ul>
            </nav>
        </aside>
    </header>

    <div class="main-container">{{ content }}</div>

    <footer class="main-footer">
        <div class="about">
            <img src="media/images/gervasio.png" alt="Gervasio">
            <p class="speech">Hola... Soy ...................!</p>
        </div>
        <ul class="footer-nav">
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <ul class="networks">
            <li>
                <a class="dl_btn" href="http://dribbble.com/gervas"><span>Dribble</span></a>
            </li>
            <li>
                <a class="fl_btn" href="http://www.flickr.com/photos/gervas" target="_blank"><span>Flickr</span></a>
            </li>
            <li>
                <a class="tl_btn" href="http://gervasiomuchogusto.tumblr.com/" target="_blank"><span>Tumblr</span></a>
            </li>
            <li>
                <a class="tw_btn" href="https://twitter.com/twitter.com/gervas"><span>Twitter</span></a>
            </li>
        </ul>
    </footer>

    <!-- Scripts -->
    <script src="media/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="media/js/vendor/jquery-1.8.3.min.js"></script>
    <script src="media/js/application.js"></script>
    <script src="media/js/lightbox.js"></script>
</body>
</html>
